$main-color: rgb(1,255,160);
.confp {
    &-container {
        display: flex;
        flex-direction: row;
        width: 100vw;
        background-color: white;
        margin-bottom: 30px;
    }
    &-image {
        &-container {
            width: 50%;
        }
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
    &-info {
        &-container {
            width: 50%;
            padding: 30px;
            padding-top: 20px;
        }
        &-daysLeft {
            display: block;
            width: fit-content;
            margin: 10px auto;
            padding: 5px 10px;
            border: 1px solid black;
            font-weight: bold;
            font-size: .9em;
        }
        &-title {
            display: block;
            width: fit-content;
            margin: 25px auto;
            font-size: 1.5em;
            font-weight: bold;
        }
        &-details {
            color: rgb(85, 85, 85);
            font-size: .9em;
            text-align: justify;
            display: inline-block;
            margin-bottom: 40px;
        }
        &-extra {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 10px;
            &-details {
                width: 80%;
                span {
                    display: block;
                    margin-bottom: 20px;
                    a {
                        color: black;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            &-chairman {
                border: 3px solid $main-color;
                width: 120px;
                height: 120px;
                margin-right: 20px;
            }
        }
        &-tags {
            padding: 0;
            margin-bottom: 10px;
            &-item {
                display: inline-block;
                background-color: rgb(173, 172, 172);
                margin: 5px;
                font-size: .8em;
                a {
                    padding: 5px;
                    display: inline-block;
                    color: white;
                    text-decoration: none;
                    width: 100%;
                    height: 100%;
                    &:hover {
                        background-color: gray;
                    }
                }
            }
            & ~ hr {
                display: block;
                margin: 20px 0;
                border-width: .5px;
            }
        }
        &-small-title {
            font-size: 1.3em;
            display: inline-block;
            margin-bottom: 20px;
            font-weight: bold;
        }
        &-talkers {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            &-item {
                display: inline-block;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                border: 2px solid black;
                overflow: hidden;
                a {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                &.main {
                    border-color: $main-color;
                }
            }
        }
        &-submit {
            background-color: $main-color;
            color: white;
            display: block;
            margin: 50px auto;
            width: fit-content;
            text-decoration: none;
            padding: 10px;
            width: 250px;
            text-align: center;
            &:hover {
                background-color: darken($color: $main-color, $amount: 10%);
            }
        }
    }
    &-plan {
        margin-top: 20px;
        width: 100vw;
        background-color: rgb(248, 248, 248);
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-title {
            display: block;
            width: fit-content;
            font-weight: bold;
            font-size: 1.5em;
            margin: 10px auto;
        }
        &-details {
            background-color: white;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 50px;
            width: 80%;
            &-item {
                display: inline-flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                margin: 20px;
                font-size: .9em ;
                span {
                    display: inline-block;
                    width: 20%;
                    padding-left: 10px;
                    // font-size: .9em;
                    font-weight: bold;
                    text-align: center;
                }
                p {
                    // font-size: .9em;
                    display: inline-block;
                    width: 70%;
                    font-weight: bold;
                    margin-right: 10px;
                }
                img {
                    display: inline-block;
                    width: 50px;
                    border-radius: 50%;
                    border: 2px solid black;
                    &.main-avatar {
                        border: 2px solid $main-color;
                    }
                }
            }
        }
    }   
}
.extra-conferences {
    &-title {
        font-size: 1.5em;
        font-weight: bold;
        display: block;
        width: fit-content;
        margin: 20px;
        margin-bottom: 40px;
    }
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}