$main-color: rgb(1,255,160);

.up {
    &-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100vw;
        .participations-container {
            width: 100vw;
            padding: 12px 30px;
            position: relative;
            & > span {
                display: block;
                font-size: 1.2em;
                font-weight: bold;
                margin-bottom: 20px;
            }
            & > hr {
                position: absolute;
                top: 13px;
                right: 55px;
                width: calc(100% - 60px - 16ch);
            }
            .participations-tabs {
                position: absolute;
                right: 60px;
                span {
                    user-select: none;
                  font-weight: bold;
                  display: inline-block;
                  margin-right: 20px;
                  padding-bottom: 5px;
                  cursor: pointer;
                  &.selected-tab {
                    color: $main-color;
                    border-bottom: 3px solid $main-color;
                  }
                }
            }
            .participations-conferences {
                margin: 100px auto 100px auto;
                width: fit-content;
                display: flex;
                flex-direction: column;
                align-items: center;
                
            }
        }
    }
    &-left {
        &-container {
            width: 25%;
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-image-container {
            position: relative;
            width: 80%;
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            overflow: hidden;
            img {
                border-radius: 5px;
                width: 100%;
                object-fit: contain;
                &:hover ~ div {
                    display: flex;
                    opacity: .7;
                }
            }
            div {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: black;
                color: white;
                font-size: 1.2em;
                display: none;
                align-items: center;
                justify-content: center;
                opacity: 0;
                border-radius: 10px;
            }
        }
        &-experience {
            position: relative;
            width: 80%;
            &-title {
                hr {
                    width: 70%;
                    position: absolute;
                    top: -3px;
                    left: 85px;
                }
                span {
                    color: rgb(160, 160, 160);
                    font-size: .9em;
                }
            }
            &-list {
                padding: 0;
                margin: 10px;
                width: 100%;
                &-item {
                    margin-bottom: 20px;
                    list-style-type: none;
                    position: relative;
                    h6 {
                        font-weight: bold;
                        display: inline-block;
                        font-size: .9em;
                        margin-bottom: 5px;
                        overflow-x: hidden;
                        width: 70%;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    span {
                        &.period {
                            display: inline-block;
                            font-size: .8em;
                            position: absolute;
                            right: 10px;
                            top: 3px;
                            color: rgb(160, 160, 160);
                        }
                        &.job {
                            display: block;
                            color: rgb(160, 160, 160);
                            font-size: .9em;
                            margin-left: 5px;
                        }
                    }
                    button {
                        display: none;
                        top: 50%;
                        right: 10px;
                        position: absolute;
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        border: none;
                        cursor: pointer;
                        color: rgb(160, 160, 160);
                        i {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transform: scale(1.5);
                        }
                        &:hover {
                            background-color: rgb(245, 51, 51);
                            color: white;
                        }
                    }
                    &:hover {
                        button {
                            display: inline-flex;
                        }
                    }
                    form {
                        padding: 5px;
                        display: grid;
                        grid-template-areas: "c c"
                        "b e"
                        "j j"
                        "s n";
                        grid-template-rows: repeat(4, 1fr);
                        grid-template-columns: repeat(2, 1fr);
                        column-gap: 10px;
                        place-items: start center;
                        place-content: start center;
                        input {
                            font-family: "Montserrat";
                            padding: 5px;
                            width: 100%;
                            display: block;
                            margin: 5px auto;
                            font-size: .9em;
                            &::placeholder {
                                font-family: "Montserrat";
                            }
                            &#companyName {
                                grid-area: c;
                                display: block;
                            }
                            &#startYear {
                                grid-area: b;
                                width: 100%;

                            }
                            &#endYear {
                                grid-area: e;
                            }
                            &#jobName {
                                grid-area: j;
                            }
                        }
                        #submitExperience {
                            grid-area: s;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: static;
                            width: 100%;
                            border-radius: 0;
                            font-family: "Montserrat";
                            background-color: $main-color;
                            color: white;
                            font-size: .8em;
                            &:hover {
                                background-color: darken($main-color, 10%);
                            }
                        }
                        #cancelSubmitExperience {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: .8em;
                            grid-area: n;
                            width: 100%;
                            position: static;
                            border-radius: 0;
                            font-family: "Montserrat";
                            background-color: rgb(255, 44, 44);
                            color: white;
                            &:hover {
                                background-color: darken(rgb(255, 44, 44), 10%);
                            }
                        }
                    }
                }
            }
            &-add {
                display: block;
                margin: 10px auto;
                font-family: "Montserrat";
                padding: 5px 20px;
                background-color: $main-color;
                color: white;
                cursor: pointer;
                border: none;
                &:hover{
                    background-color: darken($main-color, 10%);
                }
            }
        }
        &-competences {
            overflow-x: hidden;
            width: 80%;
            &-title {
                position: relative;
                width: 100%;
                font-size: .9em;
                hr {
                    width: 60%;
                    position: absolute;
                    top: -4px;
                    left: 105px;
                }
                span {
                    color: rgb(165, 165, 165);
                }
            }
            &-list {
                &-item {
                    position: relative;
                    list-style-type: square;
                    margin: 10px;
                    font-size: .9em;
                    font-weight: bold;
                    &:hover {
                        button {
                            display: inline-block;
                        }
                    }
                    button {
                        display: none;
                        position: absolute;
                        right: 20px;
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        border: none;
                        cursor: pointer;
                        color: rgb(165, 165, 165);
                        i {
                            transform: scale(1.5);
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        &:hover {
                            color: white;
                            background-color: rgb(245, 51, 51);
                        }
                        &#confirmAdd {
                            right: 50px;
                            &:hover {
                                background-color: rgb(64, 247, 64);
                            }
                        }
                    }
                    input {
                        padding: 5px;
                        font-family: "Montserrat";
                        font-weight: bold;
                        width: 60%;
                        &~button {
                            display: inline-block;
                        }
                    }
                }
            }
            &-add {
                display: block;
                margin: 10px auto;
                font-family: "Montserrat";
                padding: 5px 20px;
                background-color: $main-color;
                color: white;
                cursor: pointer;
                border: none;
                &:hover{
                    background-color: darken($main-color, 10%);
                }
            }
        }
    }
    &-right {
        &-container {
            overflow-x: hidden;
            padding: 10px;
            padding-top: 20px;
            width: 72%;
            .addConference {
                &-container {
                    padding: 10px;
                    padding-top: 100px;
                    position: relative;
                    width: 100%;
                }
                &-sideInfos {
                    display: inline-block;
                    width: fit-content;
                    position: absolute;
                    right: 15px;
                    top: 0;
                    button {
                        border: none;
                        padding: 5px 20px;
                        margin: 0px 10px;
                        color: rgb(255, 55, 55);
                        border: 2px solid rgb(255, 55, 55);
                        background-color: white;
                        font-size: 1.3em;
                        font-weight: lighter;
                        border-radius: 5px;
                        &:hover {
                            color: white;
                            background-color: darken($color: rgb(255, 55, 55), $amount: 10%);
                        }
                    }
                    span {
                        font-size: 1.3em;
                        padding: 10px 10px;
                        color: rgb(255, 167, 52);
                        border: 1px solid rgb(255, 167, 52);
                        border-radius: 5px;
                        user-select: none;
                    }
                }
                &-tabs {
                    padding: 0;
                    position: absolute;
                    top: 20px;
                    margin: 0;
                    &-item {
                        z-index: 2;
                        display: inline-block;
                        padding: 5px 10px;
                        cursor: pointer;
                        user-select: none;
                        &.selected {
                            font-weight: bold;
                            border-bottom: 3px solid $main-color;
                        }
                        &.disabled {
                            pointer-events: none;
                            color: rgb(160, 160, 160);
                        }
                    }
                    hr {
                        position: absolute;
                        width: 72vw;
                        bottom: -15px;
                    }
                }
                &-forms {
                    width: 100%;
                    .f1 {
                        &-input-field {
                            position: relative;
                            display: grid;
                            place-items: center start;
                            grid-template-columns: 23% 70%;
                            margin-bottom: 10px;
                            label {
                                font-weight: bold;

                            }
                            input {
                                padding: 5px 10px;
                                width: 100%;
                            }
                            textarea {
                                padding: 10px;
                                width: 100%;
                                resize: none;
                            }
                            ul {
                                position: absolute;
                                left: calc(23% + 10px);
                                margin: 0;
                                padding: 0;
                                overflow-x: auto;
                                white-space: nowrap;
                                width: fit-content;
                                max-width: calc(70% - 20px);
                                li {
                                    list-style-type: none;
                                    padding: 5px 10px;
                                    background-color: rgb(165, 165, 165);
                                    cursor: pointer;
                                    display: inline-block;
                                    top: 50%;
                                    margin-left: 5px;
                                    font-size: .7em;
                                    display: inline-flex;
                                    flex-direction: row;
                                    align-items: center;
                                    color: white;
                                    i {
                                        transform: scale(1.5);
                                        margin-left: 5px;
                                    }
                                    &:hover {
                                        background-color: rgb(255, 50, 50);
                                    }
                                }
                            }
                        }
                        &  button  {
                            padding: 10px 20px;
                            display: flex;
                            margin: 30px 10px 10px auto;
                            border: none;
                            border-radius: 10px;
                            color: white;
                            background-color: $main-color;
                            i {
                                margin-left: 10px;
                            }
                            &:hover {
                                background-color: darken($color: $main-color, $amount: 10%);
                            }
                        }   
                    }
                    .f2 {
                        &-input-field {
                            position: relative;
                            display: grid;
                            place-items: center start;
                            grid-template-columns: 23% 70%;
                            margin-bottom: 10px;
                            label {
                                font-weight: bold;

                            }
                            input{
                                padding: 5px 10px;
                                &[type="text"] {
                                    width: 100%;
                                }
                                &[type="date"] {
                                    width: 50%;
                                }
                            }
                        }
                        &  button  {
                            padding: 10px 20px;
                            display: flex;
                            margin: 30px 10px 10px auto;
                            border: none;
                            border-radius: 10px;
                            color: white;
                            background-color: $main-color;
                            i {
                                margin-left: 10px;
                            }
                            &:hover {
                                background-color: darken($color: $main-color, $amount: 10%);
                            }
                        }   
                    }
                    .thirdTab-container {
                        width: 100%;
                        & > .searchBar {
                            position: relative;
                            width: fit-content;
                            margin: 10px auto 20px auto;
                            & > input{
                                width: 700px;
                                padding: 10px;
                                padding-right: 40px;
                            }
                            & i {
                                position: absolute;
                                right: 20px;
                                top: 50%;
                                transform: translateY(-50%) scale(1.5);
                                
                            }
                        }
                        & .invitations-container {
                            width: 100%;
                            justify-content: center;
                            flex-wrap: wrap;
                            margin-bottom: 20px;
                            max-height: 500px;
                            overflow-x: hidden;
                            overflow-y: auto;
                            padding: 10px;
                            border: 1px solid rgb(206, 206, 206);
                        }

                        & .invited-container {
                            & > span {
                                display: block;
                                font-size: 1.5em;
                                font-weight: bold;
                            }
                            & ul {
                                padding: 0;
                                display: flex;
                                flex-wrap: wrap;
                                span {
                                    font-size: 1em;
                                    color: gray;
                                    display: block;
                                    margin: 10px auto;
                                }
                                li {
                                    display: inline-block;
                                    background-color: black;
                                    color: white;
                                    padding: 10px 30px;
                                    font-size: 1.3em;
                                    border-radius: 10px;
                                    margin: 10px;
                                    user-select: none;   
                                }
                            }
                        }

                        & span#ac-err {
                            color: red;
                            display: block;
                            margin: 10px auto;
                            font-weight: bold;
                            width: fit-content;
                            padding: 10px 30px;
                        }

                        & button#confirmAddConference {
                            padding: 10px 20px;
                            display: flex;
                            margin: 30px 10px 10px auto;
                            border: none;
                            border-radius: 10px;
                            color: white;
                            background-color: $main-color;
                            &:disabled {
                                background-color: rgb(189, 189, 189);
                                &:hover {
                                    background-color: rgb(189, 189,189);
                                }
                            }
                            &:hover {
                                background-color: darken($color: $main-color, $amount: 10%);
                            }
                        }
                    }
                }
            }
        }
        &-r1 {
            position: relative;
            display: block;
            margin-bottom: 40px;
            i.bi-pencil-square {
                position: absolute;
                right: 0;
                transform: scale(1.3);
                color: royalblue;
                cursor: pointer;
            }
            h3 {
                display: inline-block;
                position: absolute;
                right: 15px;
                font-weight: bold;
            }
            &-buttons {
                button {
                    padding: 5px 10px;
                    margin: 10px 10px 10px 0;
                    cursor: pointer;
                    font-family: "Montserrat";
                    background-color: $main-color;
                    border: none;
                    color: white;
                    font-size: .9em;
                    &.cancel-btn {
                        background-color: rgb(255, 44, 44);
                        &:hover {
                            background-color: darken(rgb(255, 44, 44), 10%);
                        }
                    }
                    &.confirm-btn:hover  {
                        background-color: darken($main-color, 10%);
                    }
                }
            }
        }
        &-username {
            font-size: 2em;
            display: inline-block;
            margin-right: 5px;
            font-family: "Montserrat";
            padding: 5px 8px;
            font-weight: bold;
            &:disabled {
                border: none;
                padding: 0;
                color: black;
                background-color: white;
            }
        }
        &-location {
            font-size: .9em;
            color: rgb(165, 165, 165);
            i {
                margin-right: 5px;
                font-size: 1.3em;
            }
        }
        &-job {
            display: flex;
            align-items: center;
            margin-top: 10px;
            margin-bottom: 20px;
            color: rgb(165, 165, 165);
            font-size: 1.3em;
            width: 100%;
            i {
                color: $main-color;
                margin-right: 10px;
                transform: scale(1.5);
            }
            input {
                padding: 5px;
                font-size: 1.2em;
                font-family: "Montserrat";
                &:disabled {
                    color: rgb(165, 165, 165);
                    background-color: white;
                    border: none;
                }
            }
        }
        &-r2 {
            position: relative;
            margin-bottom: 20px;
            i.bi-pencil-square {
                position: absolute;
                right: 0;
                transform: scale(1.3);
                color: royalblue;
                cursor: pointer;
                background-color: white;
            }
            &-title {
                font-weight: bold;
                font-size: 1.2em;
                display: block;
                margin-bottom: 20px;
            }
            hr {
                position: absolute;
                width: 90%;
                right: 3px;
                top: 0px;
            }
            &-s1 {
                margin-bottom: 20px;
                & > i {
                    color: $main-color;
                    transform: rotateZ(45deg);
                    margin-right: 10px;
                }
                &-title {
                    font-size: .9em;
                    color: rgb(160, 160, 160);
                    display: inline-block;
                    margin-bottom: 10px;
                }
                .editable-data {
                    padding-left: 30px;
                    display: grid;
                    grid-template-rows: 1fr;
                    grid-template-columns: 130px 500px; 
                    margin-bottom: 10px;
                    place-items: center start;
                    &-title {
                        font-weight: bold;
                    }
                    input {
                        font-family: "Montserrat";
                        font-size: 1em;
                        padding: 5px;
                        width: 100%;
                        color: black;
                        &:disabled {
                            &:not([type="text"]) {
                                color: rgb(119, 144, 255);
                            }
                            border: none;
                            padding: 0;
                            color: rgb(160, 160, 160);
                            background-color: white;
                        }
                    }
                }
                .s1-buttons {
                    button {
                        padding: 5px 10px;
                        margin: 10px 10px 10px 0;
                        cursor: pointer;
                        font-family: "Montserrat";
                        background-color: $main-color;
                        border: none;
                        color: white;
                        font-size: .9em;
                        &.cancel-btn {
                            background-color: rgb(255, 44, 44);
                            &:hover {
                                background-color: darken(rgb(255, 44, 44), 10%);
                            }
                        }
                        &.save-btn:hover  {
                            background-color: darken($main-color, 10%);
                        }
                    }
                }
            }
            &-s2 {
                & > i {
                    color: $main-color;
                    transform: rotateZ(45deg);
                    margin-right: 10px;
                }
                &-title {
                    font-size: .9em;
                    color: rgb(160, 160, 160);
                    display: inline-block;
                    margin-bottom: 10px;
                }
                .data {
                    padding-left: 30px;
                    display: grid;
                    grid-template-columns: 200px 500px;
                    margin-bottom: 10px;
                    &-title {
                        font-weight: bold;
                    }
                    &-info {
                        font-weight: .9em;
                        color: rgb(160, 160, 160);
                    }
                }
            }
        }  
        &-r3 {
            position: relative;
            hr {
                position: absolute;
                width: 87%;
                right: 0px;
                top: 0px;
            }   
            &-title {
                font-size: 1.2em;
                font-weight: bold;
            }
            button {
                position: absolute;
                top: -5px;
                right: 0;
                padding: 10px 30px;
                font-family: "Montserrat";
                font-size: 1.2em;
                color: white;
                background-color: $main-color;
                border-radius: 5px;
                cursor: pointer;
                border: none;
                &:hover {
                    background-color: darken($color: $main-color, $amount: 10%);
                }
            }
            .conferences {
                min-height: 200px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: rgb(143, 143, 143);
            }
        }
        &-r4 {
            position: relative;
            hr {
                position: absolute;
                width: 92%;
                right: 0px;
                top: 0px;
            }   
            &-title {
                font-size: 1.2em;
                font-weight: bold;
            }
            button {
                position: absolute;
                top: -5px;
                right: 0;
                padding: 10px 30px;
                font-family: "Montserrat";
                font-size: 1.2em;
                color: white;
                background-color: $main-color;
                border-radius: 5px;
                cursor: pointer;
                border: none;
                &:hover {
                    background-color: darken($color: $main-color, $amount: 10%);
                }
            }
            .articles {
                min-height: 200px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: rgb(143, 143, 143);
            }
        }
    }
}